<div class=index>
			<form class="register-form">
				<table>
					<tr>
						<td>FullName</td>
						<td><input type="text" placeholder="name" ng-model="name" /></td>
					</tr>
					<tr>
						<td>Email</td>
						<td><input type="text" placeholder="email" ng-model="email" /></td>
					</tr>
					<tr>
						<td>UserName</td>
						<td><input type="text" placeholder="username"
							ng-model="username" /></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" placeholder="password"
							ng-model="password" /></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button ng-click = submit(name,email,username,password)>submit</button>
					</tr>
				</table>
			</form>
		</div>